<div class="card__container">
  <div class="card__img">
    <img [src]="data.imgUrl" alt="{{ data.title }}" />
  </div>
  <div class="card__text">
    <h3 class="card__title">{{ data.title }}</h3>
    <p class="card__about">{{ data.about }}</p>
    <p class="card__rating">Рейтинг {{ data.rating }} ★</p>
    <p class="card__time">Тривалість {{ data.time | formatNumber }}</p>
  </div>
  <div class="card__actions">
    <button class="card__favorite" (click)="onAddToFavorite()">
      Додати до улюблених
    </button>
    <button class="card__watch-list" (click)="onAddToWatchList()">
      Додати до перегляду пізніше
    </button>
  </div>
  
</div>
